<div id="login" class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <div style="color: white;">
            <h1>Example page head</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-body" style="background:#FAFBFC;">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <label>Usuario</label>
              <input type="text" class="form-control" placeholder="Ingrese su usuario de dominio Credicoop">
              <br>
              <label>Contraseña</label>
              <input type="password" class="form-control" placeholder="Ingrese su contraseña">
              <br>
              <button type="button" class="btn btn-success" aria-haspopup="true" aria-expanded="false" style="display: block; width: 100%;">Ingresar</button>
            </div>
            <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>