html {
  position: relative;
}

body {
	/*position: fixed;
	top: 25%;*/
	font-family: Verdana, Geneva, sans-serif;
}

/* Dropdown menu background color*/

nav {
  margin-top: 20px;
  box-shadow: 5px 4px 5px #000;
}


.navbar-nav > li > .dropdown-menu {     background-color: #222222;}

/* Dropdown menu font color*/ 

 .navbar-nav > li > .dropdown-menu a{   color: #9d9d99;  }
 .navbar-nav > li > .dropdown-menu a:hover,  .navbar-nav > li > .dropdown-menu a:focus {   color: #ffffff;  background-color: #222222;}

.navbar-brand {
	  margin-top: -15px;
}

#creaobjetossubmit {
  display: block; width: 100%;
}

#loginpanel {
  background:#FAFBFC;
}

#loginsubmit {
  display: block; width: 100%;
}

#info {
  color: black;
}

.loginlogo {
  background-color: #222222;
}

#shadowpanel  {
  box-shadow: 5px 4px 5px #000;
}

.btn span.glyphicon {         
  opacity: 0;       
}
.btn.active span.glyphicon {        
  opacity: 1;       
}

#cssTable td, th {text-align:center; vertical-align:middle;}