<div class="container-fluid animated fadeIn">
  <div class="panel panel-default" style="margin-top: 170px;" id="shadowpanel">
    <div class="panel-body">
      <div class="row loginlogo">
        <div class="col-sm-2">
          &nbsp&nbsp&nbsp&nbsp<img src="../img/brand_logo.png">
        </div>
        <div class="col-sm-8">
        </div>
        <div class="col-sm-2">
          <div style="position: relative; top: 13px;">
            <i class="fa fa-caret-right fa-lg" aria-hidden="true" style="color: red"></i>
            <i class="fa fa-caret-right fa-lg" aria-hidden="true" style="color: red"><font style="color: #ffffff; font-size:small; font-family: Calibri, Georgia, Serif;position: relative; top: -2px;">&nbsp&nbspSCM</font></i>
          </div>
        </div>
      </div>
      <div class="row">
        <form id="formulariologin" ng-submit="validarLogin()" novalidate>
          <br>
          <div class="row">
            <div class="col-sm-1"><div style="font-size: 90%;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspUsuario</div></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="usuario" placeholder="Ingrese su usuario de dominio Credicoop" style="height: 30px; font-size: 90%;" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-1"><div style="font-size: 90%;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspContraseña</div></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
              <input type="password" class="form-control" ng-model="password" placeholder="Ingrese su contraseña" style="height: 30px; font-size: 90%;" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
              <input type="submit" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" value="Ingresar" style="height: 30px; font-size: 90%;">
            </div>
            <div class="col-sm-5" ng-show="submitted && !passwordOk && !usuarioOk">
              <div class="alert alert-danger" style="height: 30px">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="position: relative; top: -10px;"></span>
                <font style="font-size: 90%; position: relative; top: -10px;">El <strong>Usuario</strong> o la <strong>Contraseña</strong> ingresados son invalidos.</font>
              </div>
            </div>
            <div class="col-sm-4" ng-show="submitted && !usuario">
              <div class="alert alert-danger" style="height: 30px">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="position: relative; top: -10px;"></span>
                <font style="font-size: 90%; position: relative; top: -10px;">El campo <strong>Usuario</strong> no puede estar vacío.</font>
              </div>
            </div>
            <div class="col-sm-4" ng-show="submitted && !password" >
              <div class="alert alert-danger" style="height: 30px">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="position: relative; top: -10px;"></span>
                <font style="font-size: 90%; position: relative; top: -10px;">El campo <strong>Contraseña</strong> no puede estar vacío.</font>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>